.footer {
  position: relative;
  box-sizing: border-box;
  padding: 20px 0;
  background-color: #4d80b2;

  @include mmMax {
    padding: 32px 0;
  }

  &-logo {
    display: block;
    font-size: 23px;
    line-height: 26px;
    font-weight: 300;
    color: #fff;

    @include smallMax {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 62px;
    }
  }

  &-social {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    padding: 5px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #fff;

    img {
      display: block;
      max-width: 98%;
    }
  }

  &-polic {
    display: inline-block;
    margin-top: 10px;
    font-size: 10px;
    line-height: 13px;
    color: #fff;
    text-decoration: underline;

    @include smallMax {
      position: absolute;
      top: -158px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-phone {
    display: block;
    margin-bottom: 5px;
    text-align: right;
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    color: #fff;

    @include mMax {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &-desc {
    display: block;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    text-align: right;

    @include smallMax {
      max-width: 218px;
      margin: 0 auto;
      margin-bottom: 38px;
    }
  }
}
