body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  background-color: #e8f6f8;
  color: #fff;
}

.mon {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100vh;

  main {
    position: relative;
    flex-grow: 1;
    padding: 40px 0 90px;
    overflow: hidden;

    @include mmMax {
      padding: 25px 0 90px;
    }
  }
}

.title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000;

  @include mMax {
    font-size: 20px;
    line-height: 24px;
  }
}

.bac-link {
  display: block;
  font-size: 20px;
  line-height: 23px;
  text-decoration: underline;
  color: #df742c;
  text-align: right;
}

.orange-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #df742c;
  border-radius: 5px;
  padding: 8px 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;

  &:hover {
    opacity: 0.7;
    color: #fff;
    text-decoration: none;
  }

  @include mMax {
    font-size: 16px;
    line-height: 19px;
  }

  @include mmMax {
    min-height: 40px;
    font-size: 13px;
    line-height: 16px;
    padding: 11px 5px;

    br {
      display: none;
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.bar {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0 35px;

  @include mmMax {
    padding: 22px 0;
  }

  &-title {
    display: block;
    flex-shrink: 0;
    color: #303030;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    padding-right: 9px;

    @include mmMax {
      font-size: 13px;
      line-height: 16px;
      padding-right: 5px;
    }
  }

  &-line {
    position: relative;
    flex-grow: 1;
    height: 15px;
    background-color: #fff;
    border-radius: 7px;

    @include mmMax {
      height: 10px;
      border-radius: 5px;
    }

    &--stretch {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 7px;
      background-color: #df742c;

      @include mmMax {
        border-radius: 5px;
      }
    }
  }
}

.prev-btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  height: 100%;
  width: 200px;
  border: 2px solid #df742c;
  border-radius: 5px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #303030;

  @include mMax {
    min-height: 55px;
    font-size: 16px;
    line-height: 19px;
    padding: 5px 10px;
  }

  @include mmMax {
    font-size: 13px;
    line-height: 16px;
    min-height: 40px;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
}
