.login-modal {
  .modal-content {
    max-width: 410px;
    border: none;
    border-radius: 0;
  }

  .modal-header {
    border-bottom: 0;

    .modal-title {
      font-size: 25px;
      line-height: 28px;
      font-weight: bold;
      color: #000;

      p {
        display: block;
        margin-top: 5px;
        font-size: 16px;
        line-height: 19px;
      }
    }

    .close {
      opacity: 1;
      font-size: 2rem;
      font-weight: 400;
    }
  }
}

.login-input {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 40px;
  border: 1px solid #4d80b2;
  margin-bottom: 9px;

  &-icon {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    flex-shrink: 0;
    border-right: 1px solid #4d80b2;

    img {
      display: block;
    }
  }

  input {
    box-sizing: border-box;
    display: block;
    width: calc(100% - 33px);
    border: none;
    margin: 0 9px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
    font-size: 13px;
    line-height: 15px;
    outline: none;

    &::placeholder {
      font-family: 'Montserrat', sans-serif;
      color: #1a1a1a;
      font-size: 13px;
      line-height: 15px;
    }
  }

  &--email {
    .login-input-icon {
      img {
        width: 19px;
      }
    }
  }

  &--pass {
    .login-input-icon {
      img {
        width: 19px;
      }
    }
  }
}

.login-rem {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 19px 0;
  }

  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  input {
    display: none;

    &:checked + b {
      background: 60% center / 90% url(../img/check.svg) no-repeat;
    }
  }

  b {
    box-sizing: border-box;
    display: block;
    height: 15px;
    width: 15px;
    border: 1px solid #4d80b2;
  }

  p {
    display: block;
    padding-left: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #1a1a1a;
  }
}

.login-link {
  display: block;
  font-size: 13px;
  line-height: 16px;
  color: #4d80b2;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

  &--last {
    margin-top: 9px;
    text-align: center;
  }
}

.blue-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  width: 100%;
  min-height: 35px;
  margin: 0;
  padding: 0;
  background-color: #4d80b2;
  border-radius: 5px;

  &:hover {
    opacity: 0.7;
  }
}

.wrong {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #fb5353;
  margin: 9px 14px;
  display: none;

  img {
    display: block;
    width: 22px;
    margin-right: 10px;
  }

  p {
    display: block;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }
}

.reg-desc {
  display: block;
  margin-bottom: 12px;
  font-size: 10px;
  line-height: 13px;
  color: #1a1a1a;
}
