.courses {
  &-catalog {
    padding-top: 13px;
    margin-bottom: -20px;

    & > .col-12 {
      margin-bottom: 20px;
    }
  }

  &-item {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    min-height: 207px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    color: #000;
    text-decoration: none;

    @include tMax {
      padding: 50px 30px;
    }

    @include mMax {
      min-height: 390px;
      height: 100%;
      padding: 20px 25px 46px;
    }

    @include mmMax {
      max-width: 250px;
      margin: 0 auto;
      min-height: 330px;
      padding: 20px 20px 40px;
    }

    &:hover {
      color: #000;
    }
  }

  &-content {
    p {
      position: relative;
      z-index: 2;
      display: block;
      margin-bottom: 29px;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #000;

      @include mMax {
        text-align: center;
        margin-bottom: 15px;

        .nowrap {
          white-space: normal;
        }
      }

      @include mmMax {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 7px;
      }
    }

    span {
      display: block;
      font-size: 13px;
      line-height: 16px;
      color: #000;

      @include mMax {
        text-align: center;
      }
    }
  }

  &-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      position: absolute;
      right: 10px;
      display: block;

      @include mMax {
        position: relative;
        right: auto;
      }
    }

    @include mMax {
      height: 220px;
    }

    @include mmMax {
      height: 175px;
    }
  }
}
