.profile {
  &-page {
    .orange-btn {
      max-width: 220px;
      height: 50px;
      margin-left: 0;
      margin-top: 30px;

      &.save {
        max-width: 150px;
      }
    }

    .wrong {
      padding: 13px;
      margin: 10px 0;
    }
  }
  &-heading {
    box-sizing: border-box;
    padding: 0 0 38px;
  }

  &-title {
    display: block;
    font-size: 25px;
    line-height: 29px;
    font-weight: bold;
    color: #000000;
  }

  &-desc {
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  &-menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      display: block;

      &:last-child {
        .profile-menu-link {
          border-radius: 0 0 5px 5px;
        }
      }
    }

    &-link {
      box-sizing: border-box;
      display: block;
      padding: 20px 30px;
      font-size: 20px;
      line-height: 24px;
      background-color: #fff;
      color: #4d80b2;
      border-radius: 5px 5px 0 0;

      &:hover {
        color: #4d80b2;
      }

      &--active {
        font-weight: bold;
        color: #fff;
        background-color: #4d80b2;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  &-input {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #373737;

    &:first-child {
      margin-top: 0;
    }

    input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 60px;
      font-size: 16px;
      line-height: 19px;
      color: #373737;
      margin: 0;
      margin-top: 6px;
      padding: 10px;
      border: 2px solid #4d80b2;
      border-radius: 5px;
      outline: none;
    }
  }
}

.success {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 13px;
  border-radius: 5px;
  background-color: #78a44f;
  margin: 0 0 19px;
  display: none;

  img {
    display: block;
    width: 22px;
    margin-right: 10px;
  }

  p {
    display: block;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }

  & + .profile-input {
    margin-top: 0;
  }
}
