.test {
  &-page {
    .orange-btn {
      max-width: 200px;
      min-height: 60px;
      margin: 0;

      @include mMax {
        min-height: 55px;
        max-width: 180px;
      }

      @include mmMax {
        min-height: 40px;
      }
    }

    .prev-btn {
      @include mMax {
        max-width: 180px;
        width: 100%;
      }
    }
  }

  &-container {
  }

  &-row {
    margin: 0;

    @include tMax {
      margin: 0 -15px;
    }
  }

  &-question {
    box-sizing: border-box;
    padding: 30px 15px;
    background-color: #fff;
    border-radius: 5px;

    @include mmMax {
      padding: 15px 0;
    }

    p {
      display: block;
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      color: #373737;

      & + p {
        margin-top: 20px;
      }

      @include mmMax {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  &-desc {
    box-sizing: border-box;
    display: block;
    padding: 28px 0 24px;
    font-size: 15px;
    line-height: 19px;
    color: #292929;

    @include mmMax {
      font-size: 13px;
      line-height: 16px;
      padding: 20px 0;
    }
  }

  &-check {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 20px;
    width: 100%;
    min-height: 70px;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;

    @include mmMax {
      min-height: 50px;
      padding: 5px 10px;
    }

    &-wrapper {
      margin-bottom: 30px;

      @include mMax {
        margin-bottom: 20px;
      }
    }

    input {
      display: none;

      &:checked {
        & + span {
          &:before {
            border-color: #4d80b2;
          }
        }
      }
    }

    span {
      display: block;
      font-size: 20px;
      line-height: 24px;
      color: #272727;

      @include mmMax {
        font-size: 13px;
        line-height: 16px;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 5px;
        border: 2px solid transparent;
      }
    }
  }

  &-textarea {
    box-sizing: border-box;
    display: block;
    margin-bottom: 60px;
    padding: 10px;
    resize: none;
    height: 95px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 13px rgba(0, 3, 5, 0.3);
    background-color: #d3e0e3;
    outline: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;

    @include mmMax {
      height: 133px;
      margin-bottom: 12px;
    }
  }

  &-btns {
    @include mMax {
      margin-top: 38px;
    }

    @include mmMax {
      margin-top: 28px;

      .col-12 + .col-12 {
        @include smallMax {
          margin-top: 15px;
        }
      }
    }
  }
}
