.text-page {
  &-content {
    box-sizing: border-box;
    padding-top: 30px;
    color: #212121;

    h2 {
      display: block;
      margin-bottom: 4px;
      font-size: 35px;
      line-height: 40px;
      font-weight: bold;

      @include mMax {
        font-size: 30px;
        line-height: 35px;
      }
    }

    h3 {
      display: block;
      font-size: 25px;
      line-height: 28px;

      @include mMax {
        font-size: 20px;
        line-height: 25px;
      }
    }

    img {
      display: block;
      width: 100%;
      max-width: 710px;
      margin: 35px auto;
    }

    p {
      display: block;
      text-indent: 35px;
      margin-bottom: 28px;
      font-size: 20px;
      line-height: 23px;

      @include mMax {
        font-size: 16px;
        line-height: 19px;
      }
    }

    h4 {
      display: block;
      text-indent: 35px;
      font-size: 20px;
      line-height: 23px;
      font-weight: bold;

      @include mMax {
        font-size: 16px;
        line-height: 19px;
      }
    }

    ul,
    ol {
      list-style: none;

      li {
        display: block;
        font-size: 20px;
        line-height: 23px;

        @include mMax {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }

    .btn-wrap {
      margin-top: 76px;
      a {
        max-width: 200px;

        @include mMax {
          max-width: 180px;
        }
      }

      div + div {
        @include mmMax {
          margin-top: 14px;
        }
      }
    }
  }
}
